profiling.trace/
time_profile.xml
time_samples.xml
iota-tests/effect_tests/effect_tests_data/
**/*.swp
**/.DS_Store
.idea
cmake-build*
iota-stdio/tags
libraries/iota-cpp/src/tags
libraries/iota-arduino/tags
libraries/iota-arduino/src/tags
libraries/iota-arduino/examples/iota-arduino-protocol-server/tags

