[submodule "lib/TransmissionArduino"]
	path = lib/TransmissionArduino
	url = https://github.com/OperatorFoundation/TransmissionArduino.git
[submodule "lib/Audio-core"]
	path = lib/Audio-core
	url = https://github.com/blanu/Audio-core
[submodule "lib/Audio-Teensy4"]
	path = lib/Audio-Teensy4
	url = https://github.com/blanu/Audio-Teensy4
[submodule "lib/ion-cpp"]
	path = lib/ion-cpp
	url = https://github.com/OperatorFoundation/ion-cpp
[submodule "lib/BigNumber"]
	path = lib/BigNumber
	url = https://github.com/OperatorFoundation/BigNumber.git
[submodule "lib/onda"]
	path = lib/onda
	url = https://github.com/OperatorFoundation/onda.git
[submodule "lib/cmake-helpers"]
	path = lib/cmake-helpers
	url = git@github.com:OperatorFoundation/cmake-helpers.git
